.card-style2 {
    padding: 16px;
    border-radius: 10px;
    background-color: var(--white);
}
.order-box {
    li {
        padding-bottom: 12px;
        border-bottom: 1px solid var(--line);
        &:not(:first-child) {
            margin-top: 16px;
        }
    }
}
.order-item {
    display: flex;
    gap: 6;
    justify-content: space-between;
    align-items: center;
    .content {
        flex-grow: 1;
        @include flex(center, space-between);
    }
    .img {
        width: 80px;
        height: 80px;
    }
}
.order-price {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: var(--onSurface);
}

.btn-order {
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--white);
    &.process {
        background-color: #f8bd09;
    }
    &.shipped {
        background-color: #606dfa;
    }
    &.completed {
        background-color: #25c364;
    }
    &.cancel {
        background-color: #e74141;
    }
}
