.tab-content > .tab-pane {
    display: none;
    // transition: all 0.2s;
    // transform: translateX(1rem);
}
.tab-content > .active {
    display: block;
    // transform: translateX(0rem);
}

.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity 0.15s linear;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-item {
    .nav-link {
        color: var(--primary-btn);
        font-weight: 700;
        &.active {
            background: var(--white);
            color: var(--onSurface);
            border-color: var(--line);
            border-bottom-color: transparent;
        }
        &.disabled {
            color: var(--text-4);
        }
        &:hover {
            border-color: transparent;
        }
    }
}
.profile-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .nav-item {
        .nav-link {
            color: var(--onSurface);
            font-weight: 700;
            font-size: 16px;
            line-height: 22.4px;
            display: flex;
            justify-content: center;
            gap: 6px;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--line);
            &.active {
                border-bottom-color: var(--primary-btn);
                color: var(--primary-btn);
                svg path {
                    fill: var(--primary-btn);
                }
            }
        }
    }
}
